{{ define "main" }}

<div class="intro-header no-img">
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <script type="text/javascript">
        atOptions = {
          'key': 'ba216c6bfc6849bf811e294f0af4faba',
          'format': 'iframe',
          'height': 250,
          'width': 300,
          'params': {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
      </script>
    </div>
    <div class="col-md-auto">
      <script type="text/javascript">
        atOptions = {
          'key': 'ba216c6bfc6849bf811e294f0af4faba',
          'format': 'iframe',
          'height': 250,
          'width': 300,
          'params': {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
      </script>
    </div>

    <div class="col-md-auto">
      <script type="text/javascript">
        atOptions = {
          'key': 'ba216c6bfc6849bf811e294f0af4faba',
          'format': 'iframe',
          'height': 250,
          'width': 300,
          'params': {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
      </script>
    </div>

    <div class="col-md-auto">
      <script type="text/javascript">
        atOptions = {
          'key': 'ba216c6bfc6849bf811e294f0af4faba',
          'format': 'iframe',
          'height': 250,
          'width': 300,
          'params': {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
      </script>
    </div>
  </div>

  <div class="container" role="main">
    <div class="row">
      {{ with .Content }}
      <div class="well">
        {{.}}
      </div>
      {{ end }}


      {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections ) 9 }}
      {{ range $pag.Pages }}
      {{ partial "post_preview_bottom_card" . }}
      {{ end }}


    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <script type="text/javascript">
          atOptions = {
            'key': 'ba216c6bfc6849bf811e294f0af4faba',
            'format': 'iframe',
            'height': 250,
            'width': 300,
            'params': {}
          };
          document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
        </script>
      </div>
      <div class="col-md-auto">
        <script type="text/javascript">
          atOptions = {
            'key': 'ba216c6bfc6849bf811e294f0af4faba',
            'format': 'iframe',
            'height': 250,
            'width': 300,
            'params': {}
          };
          document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
        </script>
      </div>

      <div class="col-md-auto">
        <script type="text/javascript">
          atOptions = {
            'key': 'ba216c6bfc6849bf811e294f0af4faba',
            'format': 'iframe',
            'height': 250,
            'width': 300,
            'params': {}
          };
          document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
        </script>
      </div>

      <div class="col-md-auto">
        <script type="text/javascript">
          atOptions = {
            'key': 'ba216c6bfc6849bf811e294f0af4faba',
            'format': 'iframe',
            'height': 250,
            'width': 300,
            'params': {}
          };
          document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
        </script>
      </div>
    </div>

    <div class="container">
      <div class="row font-sans">
        <div class="col-md-12 mt-10">
          <nav aria-label="Page navigation">
            <div class="pagination justify-content-end">
              {{ template "_internal/pagination.html" . }}
            </div>
          </nav>
        </div>
      </div>
    </div>

    {{ end }}
