{{ define "main" }}

<div class="intro-header no-img">
</div>

<div class="container">
  <div class="container justify-content-center md-5">
    <div class="row justify-content-md-center">
      <div class="col-md-auto justify-content-center mobileHide">
        <script type="text/javascript">
          atOptions = {
            'key': '9be7d31a1936564519575b144c99f453',
            'format': 'iframe',
            'height': 90,
            'width': 728,
            'params': {}
          };
          document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/9be7d31a1936564519575b144c99f453/invoke.js"></scr' + 'ipt>');
        </script>
      </div>
      <div class="col-md-auto justify-content-center mobileShow">
        <script type="text/javascript">
          atOptions = {
            'key': '71d823af7b1aaa25ca3559da88059185',
            'format': 'iframe',
            'height': 50,
            'width': 320,
            'params': {}
          };
          document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/71d823af7b1aaa25ca3559da88059185/invoke.js"></scr' + 'ipt>');
        </script>
      </div>
    </div>
  </div>
</div>

<div class="container" role="main">
  <div class="row">
    {{ with .Content }}
    <div class="well">
      {{.}}
    </div>
    {{ end }}


    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections ) 9 }}
    {{ range $pag.Pages }}
    {{ partial "post_preview_bottom_card" . }}
    {{ end }}

    <div class='container'>
      <div class="container justify-content-md-center md-5">
        <div class="row justify-content-md-center">
          <div class="col-md-auto justify-content-center">
            <script type="text/javascript">
              atOptions = {
                'key': 'ba216c6bfc6849bf811e294f0af4faba',
                'format': 'iframe',
                'height': 250,
                'width': 300,
                'params': {}
              };
              document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
            </script>
          </div>
          <div class="col-md-auto justify-content-center">
            <script type="text/javascript">
              atOptions = {
                'key': 'ba216c6bfc6849bf811e294f0af4faba',
                'format': 'iframe',
                'height': 250,
                'width': 300,
                'params': {}
              };
              document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/ba216c6bfc6849bf811e294f0af4faba/invoke.js"></scr' + 'ipt>');
            </script>
          </div>
        </div>
      </div>

    </div>



  </div>
</div>


<div class="container">
  <div class="row font-sans">
    <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation">
        <div class="pagination justify-content-end">
          {{ template "_internal/pagination.html" . }}
        </div>
      </nav>
    </div>
  </div>
</div>

{{ end }}
